<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta doloremque 
            voluptatibus veniam consectetur obcaecati unde, quidem quasi saepe nostrum 
            deserunt laborum. Pariatur cumque laudantium, expedita distinctio amet explicabo optio doloribus
            tempora. Quae in repellendus ab totam cupiditate officia, aliquam provident.</p>
    </div>
</div>