<div class="jumbotron mt-4">
    <h1 class="display-4">Hola estoy en la rama dev y he hecho cambios</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Unde ab deserunt a cumque quia id explicabo aliquam, fugiat iure 
        quaerat nulla sint repudiandae neque magni perferendis aperiam delectus 
        quibusdam? Fuga?
    </p>
    <a href="http://www.google.com" class="btn btn-primary btn-lg">Google</a>
</div>